@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hanunoo&family=Noto+Sans+JP:wght@100&family=Solitreo&display=swap');

.button{
    -fx-background-color: TRANSPARENT;
    -fx-cursor: HAND;
}
#PlayGround{
    -fx-opacity: 0.4;
}
