
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hanunoo&family=Noto+Sans+JP:wght@100&family=Solitreo&display=swap');

.AnchorPane{
    -fx-font-family: 'Noto Sans Hanunoo';
}
.Label
{
    -fx-font-family: 'Noto Sans Hanunoo';
}
.button{
    -fx-background-color: TRANSPARENT;
    -fx-cursor: HAND;
}